# DECISION TREE REGRESSION

In [1]:
import pandas as pd
import numpy as np

In [2]:
path = r"https://drive.google.com/uc?export=download&id=1xxDtrZKfuWQfl-6KA9XEd_eatitNPnkB" 
df = pd.read_csv(path)

In [3]:
df.head()

,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
0,3.0,2.0,150.0,1672.0,3,8971.291866,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,3.0,3.0,149.0,1750.0,3,8514.285714,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3.0,2.0,150.0,1750.0,3,8571.428571,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,2.0,2.0,40.0,1250.0,2,3200.000000,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,2.0,2.0,83.0,1200.0,2,6916.666667,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0

In [6]:
x= df.drop('price' ,axis =1)
y = df['price']
x.shape ,y.shape

((7120, 107), (7120,))

In [5]:
from sklearn.model_selection import train_test_split

In [8]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.2 ,random_state = 2020)

print('Shape of X_train = ', x_train.shape)
print('Shape of y_train = ', y_train.shape)
print('Shape of X_test = ', x_test.shape)
print('Shape of y_test = ', y_test.shape)

Shape of X_train =  (5696, 107)
Shape of y_train =  (5696,)
Shape of X_test =  (1424, 107)
Shape of y_test =  (1424,)

# ml model training  decision regression

In [9]:
from sklearn.tree import DecisionTreeRegressor

In [10]:
#criterion : {"mse", "friedman_mse", "mae", "poisson"}, default="mse"
regressor = DecisionTreeRegressor()
regressor.fit(x_train , y_train)
regressor.score(x_test , y_test)

0.868983155987872

In [11]:
#not much high accuracy

# house price predict

In [12]:
#last house 
x_test.iloc[-1,:]

bath                              3.000000
balcony                           2.000000
total_sqft_int                 1890.000000
bhk                               3.000000
price_per_sqft                 4444.444444
                                  ...
location_Hosur Road               0.000000
location_Horamavu Banaswadi       0.000000
location_Domlur                   0.000000
location_Mahadevpura              0.000000
location_Tumkur Road              0.000000
Name: 2605, Length: 107, dtype: float64

In [13]:
regressor.predict([x_test.iloc[-1,:]])

array([88.])

In [15]:
#actual
y_test.iloc[-1]

84.0

In [18]:
pred = regressor.predict(x_test)
pred

array([140. ,  75. ,  64.5, ..., 100. , 550. ,  88. ])

In [17]:
y_test

1360    140.0
2975     75.0
1893     65.0
1761    132.0
3045     51.5
        ...
1402     99.0
6898    107.0
6945    105.0
1642    536.0
2605     84.0
Name: price, Length: 1424, dtype: float64