# RANDOM FOREST TREE REGRESSION

In [1]:
import numpy as np
import pandas as pd

In [17]:
path = r"https://drive.google.com/uc?export=download&id=1xxDtrZKfuWQfl-6KA9XEd_eatitNPnkB" 
df = pd.read_csv(path)
df

,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
0,3.0,2.0,150.00,1672.0,3,8971.291866,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,3.0,3.0,149.00,1750.0,3,8514.285714,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3.0,2.0,150.00,1750.0,3,8571.428571,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,2.0,2.0,40.00,1250.0,2,3200.000000,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,2.0,2.0,83.00,1200.0,2,6916.666667,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7115,3.0,2.0,325.00,2900.0,3,11206.896552,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
7116,3.0,1.0,84.83,1780.0,3,4765.730337,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7117,2.0,1.0,48.00,880.0,2,5454.545455,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
7118,2.0,1.0,55.00,1000.0,2,5500.000000,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
7119,2.0,1.0,78.00,1400.0,3,5571.428571,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
x= df.drop('price' ,axis =1)
y = df['price']
x.shape ,y.shape

((7120, 107), (7120,))

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.2 ,
                                                        random_state = 2020)

print('Shape of X_train = ', x_train.shape)
print('Shape of y_train = ', y_train.shape)
print('Shape of X_test = ', x_test.shape)
print('Shape of y_test = ', y_test.shape)

Shape of X_train =  (5696, 107)
Shape of y_train =  (5696,)
Shape of X_test =  (1424, 107)
Shape of y_test =  (1424,)

# ml training random forest regression

In [21]:
from sklearn.ensemble import RandomForestRegressor

RandomForestRegressor(
    n_estimators=100,
    *,
    criterion='mse',
    max_depth=None,
    min_samples_split=2,
    min_samples_leaf=1,
    min_weight_fraction_leaf=0.0,
    max_features='auto',
    max_leaf_nodes=None,
    min_impurity_decrease=0.0,
    min_impurity_split=None,
    bootstrap=True,
    oob_score=False,
    n_jobs=None,
    random_state=None,
    verbose=0,
    warm_start=False,
    ccp_alpha=0.0,
    max_samples=None,
)

In [22]:
regressor = RandomForestRegressor(n_estimators=100 , criterion='mse')
regressor.fit(x_train , y_train)
regressor.score(x_test , y_test)

0.8937066519049266

In [24]:
regressor1 = RandomForestRegressor(n_estimators=500 , criterion='mse')
regressor1.fit(x_train , y_train)
regressor1.score(x_test , y_test)

0.9016185846398532

In [27]:
x_test.iloc[-1,:]

bath                              3.000000
balcony                           2.000000
total_sqft_int                 1890.000000
bhk                               3.000000
price_per_sqft                 4444.444444
                                  ...
location_Hosur Road               0.000000
location_Horamavu Banaswadi       0.000000
location_Domlur                   0.000000
location_Mahadevpura              0.000000
location_Tumkur Road              0.000000
Name: 2605, Length: 107, dtype: float64

In [29]:
regressor1.predict([x_test.iloc[-1,:]])

array([85.60472])

In [30]:
y_test.iloc[-1]

84.0

In [31]:
regressor1.predict(x_test)

array([139.57   ,  75.08366,  65.0224 , ..., 103.01828, 530.924  ,
        85.60472])

In [32]:
y_test

1360    140.0
2975     75.0
1893     65.0
1761    132.0
3045     51.5
        ...
1402     99.0
6898    107.0
6945    105.0
1642    536.0
2605     84.0
Name: price, Length: 1424, dtype: float64